header {
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    overflow: auto;
}

body {
    margin: 0;
    background: tan;
    color: #4aaaa5;
}

.container {
    width: 960px;
    margin: auto;
}

.content {
    background: #ffffff;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading {
    background: #4aaaa5;
    padding: 5px 10px 5px 10px;
    width: 200px;
    text-align: center;
    float: left;
    margin: 0px;
    color: #ffffff;
}

.navBar {
    float: right;
}

a {
    text-decoration: none;
    padding: 20px;
    color: #777777;
    vertical-align: middle;
}

footer {
    background: #666666;
    color: #cccccc;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    overflow: auto;
    display: block;
}

h2 {
    padding: 0px 0px 10px 0px;
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
}

h4 {
    vertical-align: bottom;
    margin: 0px;
}

.left {
    float: left;
    margin: 0px 20px 15px 0px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px 25px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

input[type=text] {
    width: 100%;
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 15px 25px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: none;
}

.image { 
    position: relative;
    width: 200px;
 }
 
.img-title { 
    position: absolute;
    width: 100%;
    left: 0px;
    bottom:20px;
    background-color: #4aaaa5;
    color: white;
    padding: 5px 0px 5px 0px;
    text-align: center;
 }

 .img-title:default {
     background-color: ##4aaaa5;
 }

 .img-title:active {
    background-color: #ccc;
}

.img-title:hover {
    background-color: #666666;
}

.img-title:focus {
    background-color: #eee;
    color: #666666;
}

 .grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
  }